@charset "utf-8";
@import url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf");

:root {
    --main-font: 'helvetica', sans-serif;
    --primary-color: rgba(0, 0, 0, 0.753);
    --secondary-color: rgb(35, 35, 35);
    --button-bg-color: rgb(89, 89, 89);
    --special-button-color: rgb(57, 57, 57);
    --hover-shadow-color: rgba(0, 0, 0, 0.145);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: var(--main-font);
}

body {
    height: 100vh;
    background: var(--primary-color);
}

.container {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    margin: 2px 0px;
}

.calculator form input.zero-btn {
    width: 125px;
}

.calculator form input.numpad-btns {
    background: var(--button-bg-color);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 2;
    font-size: 45px;
    background: var(--display-bg-color);
    height: 80px;
    color: white;
}

form input.ac-btn,
form input.del-btn,
form input.percentage-btn {
    background: var(--special-button-color);
}

.symbols {
    background-color: #fa8c00;
}

.calculator form input:hover {
    box-shadow: 0 0 5px 3px var(--hover-shadow-color);
}